version: 0.0.{build}
image:
  - Visual Studio 2019
  - Ubuntu
  - macOS
  - macOS-Mojave
configuration: Release
skip_commits:
  message: /.*\[ci\-skip\].*/
before_build:
  - dotnet restore src/Vlingo.Directory.sln
build:
  project: src/Vlingo.Directory.sln
  verbosity: minimal
  publish_nuget: true
for:
  -
    matrix:
      only:
        - image: Ubuntu
    before_test:
      - sudo ufw disable
      - sudo ufw reload
      - sudo ufw status verbose
      - sudo sysctl net.ipv4.ip_local_port_range
      - sudo sysctl net.ipv4.tcp_fin_timeout
    after_test:
      - sudo ufw enable
  -
    matrix:
      only:
        - image: macOS
        - image: macOS-Mojave
    before_test:
      - sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 0
      - sudo launchctl unload /System/Library/LaunchDaemons/com.apple.alf.agent.plist
      - sudo launchctl load /System/Library/LaunchDaemons/com.apple.alf.agent.plist
    after_test:
      - sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 1
      - sudo launchctl unload /System/Library/LaunchDaemons/com.apple.alf.agent.plist
      - sudo launchctl load /System/Library/LaunchDaemons/com.apple.alf.agent.plist
  -  
    matrix:
      only:
        - image: Visual Studio 2019
    before_test:
      - netsh advfirewall set currentprofile state off
    after_test:
      - netsh advfirewall set  currentprofile state on
test_script:
  - dotnet test src/Vlingo.Directory.Tests
deploy:
  - provider: NuGet
    api_key:
      secure: S7SGXqFTXTOVbVLP45Ofyf/iTsIOr9o0F/QEeQkaUMqb/PkwWjXK6+CF4WAqbfWr
    skip_symbols: true
    artifact: /.*\.nupkg/
    on:
      branch: master
notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/2b56d1ca84637acb9ee8
    method: POST
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true